*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Vosk Model (100MB 초과 파일 방지)
**/src/main/assets/model-ko/
*.fst
*.lmdas

# OS 관련 임시 파일
Thumbs.db